<div class="contant-block row mt-5">
  <!-- Left Image Block -->
  <div class="left-image col-md-6">
    <%= image_tag 'home_illo.png' %>
  </div>
  <!-- Rigght Text Block -->
  <div class="where-work col-md-6">
    <h1>Where Work Happens</h1>
    <p>When your team needs to kick off a project, hire a new employee, deploy some code, review a sales contract, finalize next year's budget, measure an A/B test, plan your next office opening, and more, Slack has you covered.</p>
    <form class="form-inline get-started-from">
      <label class="sr-only" for="inlineFormInputName2">Name</label>
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Email address">             
      <button type="submit" class="btn btn-success mb-2 pl-4  pr-4">Get Started</button>
  </form>
  <p class="account mt-2">Already using Slack? <%= link_to 'Sign in ', new_user_session_path %></p>
  </div>  
</div>